

$colorBackground        : rgb(8, 8, 8);
$colorBackground2       : #000;        

$colorTitle             : rgb(255, 255, 255);
$colorText              : rgb(231, 231, 231);

$fontTitle: 'Parisienne', cursive;
$fontTitle2: 'Dancing Script', cursive;
$fontTitle3: 'Passions Conflict', cursive;

$fontText: 'Poppins', sans-serif;
$fontText2: 'Lato', sans-serif;