@-webkit-keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
@-webkit-keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* h1, * h2, * h3, * h4, * h5, * h6, * p {
  color: rgb(231, 231, 231);
}

.inicio,
.date,
.party,
.gift,
.us,
.locations {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000 url(/imgs/premium_black_texture_03.jpg) center center/cover no-repeat;
}
.inicio header,
.date header,
.party header,
.gift header,
.us header,
.locations header {
  width: 260px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.inicio header h1,
.date header h1,
.party header h1,
.gift header h1,
.us header h1,
.locations header h1 {
  width: 160px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  color: rgb(231, 231, 231);
  margin-left: 0px;
}
.inicio header img,
.date header img,
.party header img,
.gift header img,
.us header img,
.locations header img {
  width: auto;
  height: 30px;
}
.inicio header .spin,
.date header .spin,
.party header .spin,
.gift header .spin,
.us header .spin,
.locations header .spin {
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 1s linear infinite;
}
.inicio .quick-access,
.date .quick-access,
.party .quick-access,
.gift .quick-access,
.us .quick-access,
.locations .quick-access {
  width: 300px;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inicio .quick-access img,
.date .quick-access img,
.party .quick-access img,
.gift .quick-access img,
.us .quick-access img,
.locations .quick-access img {
  width: 30px;
  height: 30px;
}

.inicio {
  margin-top: 0px;
}
.inicio h1, .inicio h2 {
  z-index: 10;
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  max-height: 250px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
  text-shadow: 6px 6px 4px #000;
  color: rgb(255, 255, 255);
}
.inicio h2 {
  position: absolute;
  bottom: 60px;
  margin-bottom: 50px;
  font-size: 3.5rem;
  font-weight: 200;
}
.inicio img {
  width: 360px;
  position: absolute;
  top: 170px;
  scale: 0.5;
  animation: heartbeat 1.2s infinite;
  -webkit-animation: heartbeat 1.2s infinite;
  filter: drop-shadow(10px 10px 10px #000);
  -webkit-filter: drop-shadow(10px 10px 10px #000);
}
.inicio a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio a button {
  width: 280px;
  height: 40px;
  margin-top: 0px;
  position: absolute;
  bottom: 50px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  color: #000;
  box-shadow: 7px 7px 6px #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inicio a button:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
.inicio a button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.date h1 {
  width: 320px;
  margin-top: 0px;
  font-family: "Parisienne", cursive;
  font-weight: 200;
  font-size: 3.2rem;
  text-align: center;
  text-shadow: 6px 6px 4px #000;
}
.date h2, .date h3, .date h5 {
  width: 280px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: center;
}
.date h2 {
  font-size: 1.3rem;
}
.date h3 {
  font-weight: 400;
  margin: 40px 0;
}
.date h5 {
  margin: 20px 0;
}
.date .buttons {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date .buttons button {
  width: 220px;
  height: 40px;
  border: none;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: rgb(8, 8, 8);
  background-color: rgb(231, 231, 231);
  box-shadow: 7px 7px 6px #000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.date .buttons button:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
.date .buttons button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.party h1 {
  width: 320px;
  margin-top: 0px;
  font-family: "Parisienne", cursive;
  font-weight: 200;
  font-size: 3.2rem;
  text-align: center;
  text-shadow: 6px 6px 4px #000;
}
.party .church, .party .saloon {
  width: 360px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.party .church img, .party .saloon img {
  animation: heartbeat 2s infinite;
  -webkit-animation: heartbeat 2s infinite;
}
.party img {
  width: 70px;
  margin: 5px 0;
  filter: drop-shadow(10px 10px 10px #000);
  -webkit-filter: drop-shadow(10px 10px 10px #000);
}
.party p {
  width: 320px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
}
.party .gift-access button {
  width: 220px;
  height: 40px;
  border: none;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: rgb(8, 8, 8);
  background-color: rgb(231, 231, 231);
  box-shadow: 7px 7px 6px #000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.party .gift-access button:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
.party .gift-access button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.gift h1 {
  width: 320px;
  margin-top: 0px;
  font-family: "Parisienne", cursive;
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  text-shadow: 6px 6px 4px #000;
}
.gift img {
  width: 60px;
  margin: 20px 0;
  filter: drop-shadow(10px 10px 10px #000);
  -webkit-filter: drop-shadow(10px 10px 10px #000);
}
.gift .gifts {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gift .gifts p {
  width: 300px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
.gift .bank p {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 200;
}

.us header {
  margin-bottom: 20px;
}
.us h1 {
  width: 320px;
  font-family: "Parisienne", cursive;
  font-weight: 200;
  font-size: 3.2rem;
  text-align: center;
  text-shadow: 6px 6px 4px #000;
}
.us .swiper {
  width: 100%;
  height: 100%;
  margin-top: 0px;
}
.us .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.us .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locations h1 {
  width: 320px;
  margin-top: 0px;
  font-family: "Parisienne", cursive;
  font-weight: 200;
  font-size: 3.2rem;
  text-align: center;
  text-shadow: 6px 6px 4px #000;
}
.locations p {
  width: 220px;
  margin: 80px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}/*# sourceMappingURL=app.css.map */